:root {
  --main-color: #000000;
  --secondary-color: #ffffff;
  --accent-color: #f7941e;
  --bgd-color: #f1f1f2;
  --secondary-bgd-color: #FAFAFA;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--secondary-color);
  color: var(--main-color);
}
.container{
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.list{
    list-style: none;
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4, p{
margin: 0;

}

img{
  display: block;
}
a{
    text-decoration: none;
}

/* HEADER */
.logo{
  font-family: 'Homemade Apple';
  font-size: 18px;
  line-height: calc(39 / 18);
  color: #231F20;
   margin-right: auto;
}

.nav {
  color: var(--main-color);
}
.nav-list{
  display: flex;
  gap: 31px;
  outline: 2px solid red;
}
/* .nav-item:not(:last-child){
  margin-right: 31px;
} */
.link-header {
    color: var(--main-color);
    font-size: 18px;
    line-height: calc(22/18);

}
.header .container{
  display: flex;
  align-items: center;
  outline: 2px solid red;
}
.link-header:hover, .link-header:focus {
    color: var(--secondary-color);
    background-color: var(--accent-color);
}

.button {
  border-radius: 5px;
  padding: 15px 20px;
  margin-left: auto;
  font-size: 18px;
  line-height: 1.33;
  font-family: inherit;
  border: 1px solid var(--accent-color);
  text-transform: uppercase;
  background: transparent;
  color:var(--accent-color);
  cursor: pointer;
}
.button:hover, .button:focus{
  background: rgb(247, 149, 30);
  color: var(--secondary-color);
}

/* main*/
.hero{
  background: #F1F1F2;
}
.hero .container{
  display: flex;
  

}
.hero-title {
  margin-bottom: 36px;
  font-size: 56px;
line-height: calc(69/56);
color: var(--main-color);

}
.hero-description {
  font-size: 20px;
line-height: 1.4;
color: var(--main-color);
padding-bottom: 52px;
}

.button-hero {
  background-color: var(--accent-color);
  color: var(--secondary-color);
}

.button-work {
  background-color: var(--bgd-color);
  color: var(--accent-color);
}

.box{
  padding-top: 154px;
padding-left: 162;
padding-right: 126px;
padding-bottom: 135px;
}
.about{
  background: #F1F1F2;
}
.about .container{
display: flex;
}
.about .box{
  padding: 164px 166px 118px 102px;

}
.about-title{
  font-size: 32px;
line-height: 1.4;
font-weight: 400;
margin-bottom: 24px;
}
.about-description{
  font-size: 20px;
line-height: 1.4;
margin-bottom: 35px;
}

.gift-section{
  padding-top: 65px;
  padding-bottom: 120px;
  text-align: center;
}

.gift-list{
display: flex;
column-gap: 30px;

}

.gift-titles{
  font-size: 32px;
line-height: 1.19;
font-weight: 400;
margin-bottom: 23px;
}

.gift-text{
  font-size: 18px;
line-height: 1.35;
margin-bottom: 57px;
}

.gift-card-title{
  color: var(--main-color);
  font-weight: 400;
  font-size: 20px;
line-height: 1.2;
margin-bottom: 74px;
}

.card-wrapper{
  padding: 24px;
  text-align: left;
  background-color: var(--secondary-bgd-color);
}

.gift-link{
  font-size: 14px;
line-height: 1.36;
color: var(--main-color);
}

.gift-card-link:hover{
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);

  background-color: var(--secondary-color);

}